<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<!-- 数据源配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
          <property name="user" value="${jdbc.username}"/>  
          <property name="password" value="${jdbc.password}"/>  
          <property name="driverClass" value="${jdbc.driver}"/>  
          <property name="jdbcUrl" value="${jdbc.url}"/>  
          <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>  
          <property name="minPoolSize" value="${jdbc.minPoolSize}"/>  
          <property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>  
          <property name="maxIdleTime" value="${jdbc.maxIdleTime}"/>  
          <property name="acquireIncrement" value="${jdbc.acquireIncrement}"/>  
	</bean>

	<!-- SessionFactory 配置 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" destroy-method="destroy">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan">
			<list>
				<value>com.julius.*.model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.fornat_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	
	<!-- 导入数据库配置文件 -->
	<bean id="placeholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:config.properties</value>
		</property>
	</bean>
	
	
	<!-- Spring事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- 定义事务规则 -->  
	<tx:advice id="txAdvice" transaction-manager="transactionManager">  
	    <tx:attributes>  
	        <tx:method name="add*" propagation="REQUIRED" />  
	        <tx:method name="save*" propagation="REQUIRED" />  
	        <tx:method name="edit*" propagation="REQUIRED" />  
	        <tx:method name="update*" propagation="REQUIRED" /> 
	        <tx:method name="del*" propagation="REQUIRED" />  
	        <tx:method name="*" propagation="REQUIRED" read-only="true" />  
	    </tx:attributes>  
	</tx:advice>  
	
	<!-- 定义事务入口 -->  
	<aop:config>  
	    <aop:pointcut id="allServiceMethod" expression="execution(* com.julius.*.service.*.*(..))" />  
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="allServiceMethod" />  
	</aop:config> 
	
	
</beans>
